<HeaderComponent />

<section class="body">
    {{#if !all}}
        <LoadingComponent />
    {{else}}
        <article class="box">
            <h2>General activity</h2>
            <p>{{all.number}} torrents ({{formatSize(all.size)}} / {{all.usage}}) <span>-</span> <i class="icon">&#8681;</i> {{formatSize(all.download)}}/s <span>-</span> <i class="icon">&#8679;</i> {{formatSize(all.upload)}}/s</p>
        </article>

        <article class="box">
            <h2>Users</h2>
            <div class="files">
                {{#each users as user}}
                    <div class="dir action" on:click="toggleOpening(user)">
                        <i class="icon"> {{#if user.isClosed }} 📁 {{else}} 📂 {{/if}} </i>
                        {{user.name}}<span>{{user.number}} torrents ({{formatSize(user.size)}})</span><span><i class="icon">&#8681;</i> {{formatSize(user.download)}}/s</span><span><i class="icon">&#8679;</i> {{formatSize(user.upload)}}/s</span>
                        {{#if user.containsNew}}<span class="hot"><i class="icon">🔥</i>NEW</span> {{/if}}
                    </div>
                    {{#if !user.isClosed}}
                        <div class="files">
                            {{#each user.torrents as torrent}}
                                <a href="#/torrents/{{torrent.id}}" class="file">
                                    {{torrent.name}}
                                    <span>{{formatSize(torrent.size)}}</span>
                                    <span><i class="icon">&#8681;</i> {{formatSize(torrent.download)}}/s</span>
                                    <span><i class="icon">&#8679;</i> {{formatSize(torrent.upload)}}/s</span>
                                    {{#if torrent.isNew}}
                                        <span class="hot"><i class="icon">🔥</i>NEW</span>
                                    {{/if}}
                                </a>
                            {{/each}}
                        </div>
                    {{/if}}

                {{/each}}
            </div>
        </article>
    {{/if}}
</section>

<script>
    export default {
        onrender () {
            window.app.api.get('/torrents/activity').then(function (response) {
                console.log(response)
                var seenTorrents = JSON.parse(localStorage.getItem('seen_torrents')) || []
                var displayedUsers = JSON.parse(localStorage.getItem('displayed_users')) || {}
                for (var i in response.data.users) {
                    var user = response.data.users[i]
                    for (var j in user.torrents) {
                        var torrent = user.torrents[j]
                        torrent.isNew = !seenTorrents.includes(torrent.id)
                    }
                    user.containsNew = user.torrents.reduce(function(a, b) { return a || b.isNew }, false)
                    user.isClosed = displayedUsers[user.name]
                }
                seenTorrents = response.data.users.reduce(function(a, b) { return a.concat(b.torrents) }, []).map(function(x) { return x.id })
                localStorage.setItem('seen_torrents', JSON.stringify(seenTorrents))
                this.set({ all: response.data.all, users: response.data.users })
            }.bind(this)).catch(function (error) {
                console.error(error)
            }.bind(this))
        },
        data () {
            return {
                all: null,
                users: []
            }
        },
        components: {
            HeaderComponent,
            LoadingComponent
        },
        helpers: {
            formatSize: window.GenericHelpers.formatSize
        },
        methods: {
            toggleOpening: function (user) {
                var displayedUsers = JSON.parse(localStorage.getItem('displayed_users')) || {}
                user.isClosed = displayedUsers[user.name] === true ? false : true
                displayedUsers[user.name] = user.isClosed
                localStorage.setItem('displayed_users', JSON.stringify(displayedUsers))
                this.set({ users: this.get('users') })
            }
        }
    }
</script>
