<HeaderComponent />

<section class="body">
    {{#if !all}}
        <LoadingComponent />
    {{else}}
        <article class="box">
            <h2>General activity</h2>
            <p>{{all.number}} torrents ({{formatSize(all.size)}}) <span>-</span> <i class="icon">&#8681;</i> {{formatSize(all.download)}}/s <span>-</span> <i class="icon">&#8679;</i> {{formatSize(all.upload)}}/s</p>
        </article>

        <article class="box">
            <h2>Users</h2>
            <div class="files">
                {{#each users as user}}
                    {{#if isClosed(user) }}
                        <div class="dir action" on:click="open(user)">
                            <i class="icon">📁</i>{{user.name}}
                            <span>{{user.number}} torrents ({{formatSize(user.size)}})</span>
                            <span><i class="icon">&#8681;</i> {{formatSize(user.download)}}/s</span>
                            <span><i class="icon">&#8679;</i> {{formatSize(user.upload)}}/s</span>
                        </div>
                    {{else}}
                        <div class="dir action" on:click="close(user)">
                            <i class="icon">📂</i>{{user.name}}
                            <span>{{user.number}} torrents ({{formatSize(user.size)}})</span>
                            <span><i class="icon">&#8681;</i> {{formatSize(user.download)}}/s</span>
                            <span><i class="icon">&#8679;</i> {{formatSize(user.upload)}}/s</span>
                        </div>
                        <div class="files">
                            {{#each user.torrents as torrent}}
                                <a href="#/torrents/{{torrent.id}}" class="file">
                                    {{torrent.name}}<span>{{formatSize(torrent.size)}}</span><span><i class="icon">&#8681;</i> {{formatSize(torrent.download)}}/s</span><span><i class="icon">&#8679;</i> {{formatSize(torrent.upload)}}/s</span>
                                </a>
                            {{/each}}
                        </div>
                    {{/if}}

                {{/each}}
            </div>
        </article>
    {{/if}}
</section>

<script>
    export default {
        onrender () {
            window.app.api.get('/torrents/activity').then(function (response) {
                console.log(response)
                this.set({ all: response.data.all, users: response.data.users })
            }.bind(this)).catch(function (error) {
                console.error(error)
            }.bind(this))
        },
        data () {
            return {
                all: null,
                users: []
            }
        },
        components: {
            HeaderComponent,
            LoadingComponent
        },
        helpers: {
            formatSize: window.GenericHelpers.formatSize,
            isClosed: function(user) {
                var displayedUsers = JSON.parse(localStorage.getItem('displayed_users')) || {}
                return displayedUsers[user.name]
            }
        },
        methods: {
            editIsClosed: function (user, value) {
                var displayedUsers = JSON.parse(localStorage.getItem('displayed_users')) || {}
                displayedUsers[user.name] = value
                localStorage.setItem('displayed_users', JSON.stringify(displayedUsers))
                this.set({ users: this.get('users') })
            },
            open: function (user) {
                this.editIsClosed(user, false)
            },
            close: function (user) {
                this.editIsClosed(user, true)
            }
        }
    }
</script>
