<HeaderComponent />

<section class="body">
    <article class="box">
        {{#if errorFile}}
            <div class="warn"><i class="icon">&#9888;</i> {{errorFile}}</div>
        {{/if}}
        <h2>Add torrent file</h2>
        <input type="file" on:change="onChange(event)">
    </article>

    <article class="box">
        {{#if errorUrl}}
            <div class="warn"><i class="icon">&#9888;</i> {{errorUrl}}</div>
        {{/if}}
        <h2>Add torrent url/magnet</h2>
        <input type="text" placeholder="Url" bind:value="url" autofocus>
        <button on:click="addUrl()">Add</button>
    </article>
</section>

<script>
    export default {
        onrender () {
        },
        data () {
            return {
                errorFile: null,
                errorUrl: null,
                url: ""
            }
        },
        helpers: {
        },
        components: {
            HeaderComponent
        },
        methods: {
            uploadFile: function (filePath) {
                return new Promise(function (resolve) {
                    var reader = new window.FileReader()
                    reader.addEventListener("load", function () {
                        resolve(reader.result.replace(/^(.*)base64,/, ""))
                    }, false)
                    reader.readAsDataURL(filePath)
                }).then(function (base64) {
                    return window.app.api.post('/torrents', { base64: base64})
                })
            },
            onChange: function (event) {
                if (!event || !event.target || !event.target.files[0]) {
                    return
                }
                this.uploadFile(event.target.files[0]).then(function (response) {
                    console.log('res', response)
                    window.app.router.go('torrents')
                }).catch(function (error) {
                    this.set({ errorFile: error })
                }.bind(this))
            },
            addUrl: function (event) {
                var url = this.get('url')
                if (!url) {
                    this.set({ errorUrl: 'You must provide an URL.' })
                } else {
                    window.app.api.post('/torrents', {
                        url: url
                    }).then(function (response) {
                        window.app.router.go('torrents')
                    }).catch(function (error) {
                        this.set({ errorUrl: error })
                    }.bind(this))
                }
            }
        }
    }
</script>
