<HeaderComponent />

<section class="body">
    <article class="box">
        {{#if errorFile}}
            <div class="warn"><i class="icon">&#9888;</i> {{errorFile}}</div>
        {{/if}}
        <h2>From file</h2>
        <input type="file" on:change="onChange(event)">
    </article>

    <article class="box">
        {{#if errorUrl}}
            <div class="warn"><i class="icon">&#9888;</i> {{errorUrl}}</div>
        {{/if}}
        <h2>From url/magnet</h2>
        <input type="text" placeholder="Url" bind:value="url" on:keyEnter="addUrl()">
        <button on:click="addUrl()">Add</button>
    </article>

    <article class="box">
        {{#if errorT411}}
            <div class="warn"><i class="icon">&#9888;</i> {{errorT411}}</div>
        {{/if}}
        <h2>From T411</h2>
        <input type="text" placeholder="Search a torrent" bind:value="queryT411" on:keyEnter="searchT411()">
        <button on:click="searchT411()">
            Search
            {{#if searchingTorrent}}
                <div class="loader"></div>
            {{/if}}
        </button>
        <table>
            <thead>
                <tr><th>Category</th><th>Name</th><th>Date</th><th>Size</th><th>Seeders</th><th>Leechers</th><th>Download</th></tr>
            </thead>
            <tbody>
                {{#each t411Results as torrent}}
                    <tr>
                        <td>{{torrent.categoryname}}</td>
                        <td><a href="https://www.t411.li/t/{{torrent.id}}">{{torrent.name}}</a></td>
                        <td>{{timeSinceDate(Date.parse(torrent.added))}}</td>
                        <td>{{formatSize(torrent.size)}}</td>
                        <td>{{torrent.seeders}}</td>
                        <td>{{torrent.leechers}}</td>
                        <td><button class="mini" on:click="downloadT411(torrent.id)">Download</button></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </article>
</section>

<script>
    export default {
        onrender () {
        },
        data () {
            return {
                errorFile: null,
                errorUrl: null,
                url: "",
                errorT411: null,
                queryT411: "",
                t411Results: [],
                searchingTorrent: false,
            }
        },
        helpers: {
            formatSize: window.GenericHelpers.formatSize,
            timeSinceDate: function(date) {
                var seconds = Math.floor((new Date() - date) / 1000);
                var interval = Math.floor(seconds / 31536000);
                if (interval > 1) {
                    return interval + " years";
                }
                interval = Math.floor(seconds / 2592000);
                if (interval > 1) {
                    return interval + " months";
                }
                interval = Math.floor(seconds / 86400);
                if (interval > 1) {
                    return interval + " days";
                }
                interval = Math.floor(seconds / 3600);
                if (interval > 1) {
                    return interval + " hours";
                }
                interval = Math.floor(seconds / 60);
                if (interval > 1) {
                    return interval + " minutes";
                }
                return Math.floor(seconds) + " seconds";
            }
        },
        components: {
            HeaderComponent
        },
        events: {
            keyEnter (node, callback) {
                var self = this
                function onkeyup(e) {
                    if (e.which === 13 || e.keyCode === 13) {
                        callback(e)
                    }
                }
                node.addEventListener('keyup', onkeyup, false)
                return {
                    teardown () {
                        node.removeEventListener('keyup', onkeyup, false)
                    }
                }
            }
        },
        methods: {
            uploadFile: function (filePath) {
                return new Promise(function (resolve) {
                    var reader = new window.FileReader()
                    reader.addEventListener("load", function () {
                        resolve(reader.result.replace(/^(.*)base64,/, ""))
                    }, false)
                    reader.readAsDataURL(filePath)
                }).then(function (base64) {
                    return window.app.api.post('/torrents', { base64: base64 })
                })
            },
            onChange: function (event) {
                if (!event || !event.target || !event.target.files[0]) {
                    return
                }
                this.uploadFile(event.target.files[0]).then(function (response) {
                    console.log('res', response)
                    window.app.router.go('torrents')
                }).catch(function (error) {
                    this.set({ errorFile: error })
                }.bind(this))
            },
            addUrl: function (event) {
                var url = this.get('url')
                if (!url) {
                    this.set({ errorUrl: 'You must provide an URL.' })
                } else {
                    window.app.api.post('/torrents', {
                        url: url
                    }).then(function (response) {
                        window.app.router.go('torrents')
                    }).catch(function (error) {
                        this.set({ errorUrl: error })
                    }.bind(this))
                }
            },
            searchT411: function () {
                this.set({ searchingTorrent: true })
                window.app.api.post('/t411/search', {
                    search: this.get('queryT411')
                }).then(function (response) {
                    this.set({ searchingTorrent: false })
                    this.set({ t411Results: response.data })
                }.bind(this)).catch(function (error) {
                    this.set({ searchingTorrent: false })
                    this.set({ errorT411: error })
                    console.log(error)
                }.bind(this))
            },
            downloadT411: function (torrentId) {
                window.app.api.post('/t411/download/' + torrentId, {}).then(function (response) {
                    return window.app.api.post('/torrents', { base64: response.data.base64 })
                }).then(function (response) {
                    window.app.router.go('torrents')
                }.bind(this)).catch(function (error) {
                    this.set({ errorT411: error })
                }.bind(this))
            }
        }
    }
</script>
