<header class="body">
    <h1>transmi</h1>
    <h2>Authentification required</h2>
</header>

<section class="auth">
    {{#if error}}
        <div class="warn"><i class="icon">&#9888;</i> {{error}}</div>
    {{/if}}
    <input type="text" placeholder="Name" bind:value="name" on:keyEnter="connect()" autofocus>
    <input type="password" placeholder="Password" bind:value="password" on:keyEnter="connect()">
    <button on:click="connect()">Connect</button>
</section>

<script>
    export default {
        onrender () {
            if (app.api.isConnected()) {
                window.app.router.go('torrents')
            }
        },
        data () {
            return {
                name: "dewep",
                password: "toto42",
                error: null
            }
        },
        events: {
            keyEnter (node, callback) {
                var self = this
                function onkeyup(e) {
                    if (e.which === 13 || e.keyCode === 13) {
                        callback(event)
                    }
                }
                node.addEventListener('keyup', onkeyup, false)
                return {
                    teardown () {
                        node.removeEventListener('keyup', onkeyup, false)
                    }
                }
            }
        },
        methods: {
            connect: function () {
                var name = this.get('name')
                var password = this.get('password')
                if (!name || !password) {
                    this.set({ error: 'You must provide a name and a password.' })
                } else {
                    this.set({ error: 'Connection in progress...' })
                    window.app.api.post('/auth', {
                        name: name,
                        password: password
                    }).then(function (response) {
                        window.app.api.setApiKey(response.data.key)
                        window.app.router.go('torrents')
                    }).catch(function (error) {
                        this.set({ error: error })
                    }.bind(this))
                }
            }
        }
    }
</script>
