<div class="files">
    {{#each tree as item}}
        {{#if item.type == 'file'}}
            <div class="file">
                {{#if isIOSPlatform() && isVlcMedia(item) }}
                    <a href="vlc://{{baseUrl}}{{item.url}}" class="icon"><img src="vlc-icon.png"></a>
                {{/if}}
                <a href="{{item.url}}" >{{item.name}}<span>{{formatSize(item.completed)}} of {{formatSize(item.total)}}</span></a>
            </div>
        {{else}}
            {{#if item.isOpened}}
                <div class="dir action" on:click="close(item)"><i class="icon">📂</i>{{item.name}}</div>
                <TorrentTreeComponent tree="{{item.childs}}"/>
            {{else}}
                <div class="dir action" on:click="open(item)"><i class="icon">📁</i>{{item.name}}</div>
            {{/if}}
        {{/if}}
    {{/each}}
</div>

<script>
    export default {
        onrender () {
            console.log('tree', this.get('tree'))
        },
        data () {
            return {
                baseUrl: window.location.origin
            }
        },
        helpers: {
            formatSize: window.GenericHelpers.formatSize,
            isVlcMedia: function (item) {
                var itemExtension = item.name.split(".").pop().toLowerCase();
                return (["avi", "flv", "mkv", "mp4", "wav"].indexOf(itemExtension) != -1);
            },
            isIOSPlatform: function() {
                return  !!navigator.platform && /iPad|iPhone|iPod/.test(navigator.platform);
            }
        },
        components: {
            TorrentTreeComponent
        },
        methods: {
            editIsOpened: function (item, value) {
                var tree = this.get('tree')
                for (var i = 0; i < tree.length; i++) {
                    if (tree[i] === item) {
                        tree[i].isOpened = value
                    }
                }
                this.set({ tree: tree })
            },
            open: function (item) {
                this.editIsOpened(item, true)
            },
            close: function (item) {
                this.editIsOpened(item, false)
            }
        }
    }
</script>
