<header class="body">
    <section>
        <article class="general-stats">
            [General] <i class="icon">&#8681;</i> 410.0 kB/s, <i class="icon">&#8679;</i> 0.0 kB/s<br>
            [You] <i class="icon">&#8681;</i> 410.0 kB/s, <i class="icon">&#8679;</i> 0.0 kB/s
        </article>
        <h1>Seedbox torrent web interface</h1>
    </section>
    <nav>
        <a href="#" class="active">Torrents</a>
        <a href="#">Add torrent</a>
        <a href="#">Stats</a>
    </nav>
</header>
<section class="body">
    <h2>Torrent ID: {{torrentId}}</h2>

    <section class="torrents">
        <article class="torrent-preview">
            <div class="action"><a href="#"><i class="icon">&#9658;</i></a></div>
            <h3>ubuntu-13.10-desktop-amd64.iso</h3>
            <div class="stat">Downloading - 73.0 MB of 883.0 MB (8.26%) - 26 min 34 sec remaining - <i class="icon">&#8681;</i> 410.0 kB/s, <i class="icon">&#8679;</i> 0.0 kB/s</div>
            <div class="progress"><span style="width: 8.26%">8.26%</span></div>
        </article>
        <article class="torrent-preview">
            <div class="action"><a href="#"><i class="icon">&#10006;</i></a></div>
            <h3>Seul sur Mars (2015) [1080p] MULTI (VFF-VOA-VFQ) Bluray x264 AC3-PopHD (The Martian).mkv</h3>
            <div class="stat">Downloading - 73.0 MB of 883.0 MB (28.26%) - 26 min 34 sec remaining - <i class="icon">&#8681;</i> 410.0 kB/s, <i class="icon">&#8679;</i> 0.0 kB/s</div>
            <div class="progress"><span style="width: 28.26%">28.26%</span></div>
            <div class="warn"><i class="icon">&#9888;</i> My error...</div>
        </article>
        <article class="torrent-preview">
            <div class="action"><a href="#"><i class="icon">&#10074;</i><i class="icon">&#10074;</i></a></div>
            <h3>ubuntu-13.10-desktop-amd64.iso</h3>
            <div class="stat">Downloading - 73.0 MB of 883.0 MB (0.0%) - 26 min 34 sec remaining - <i class="icon">&#8681;</i> 410.0 kB/s, <i class="icon">&#8679;</i> 0.0 kB/s</div>
            <div class="progress"><span style="width: 0.0%">0.0%</span></div>
        </article>
        <article class="torrent-preview">
            <div class="action"><a href="#"><i class="icon">&#9724;</i></a></div>
            <h3>ubuntu-13.10-desktop-amd64.iso</h3>
            <div class="stat">Downloading - 73.0 MB of 883.0 MB (100.0%) - 26 min 34 sec remaining - <i class="icon">&#8681;</i> 410.0 kB/s, <i class="icon">&#8679;</i> 0.0 kB/s</div>
            <div class="progress"><span style="width: 100.0%">100.0%</span></div>
        </article>
    </section>
</section>
