<HeaderComponent />

<section class="body">
    {{#if torrent}}

        <article class="box">
            <h2>{{torrent.name}}</h2>

            {{#if error}}
                <div class="warn"><i class="icon">&#9888;</i> {{error}}</div>
            {{/if}}

            <p>{{formatStatus(torrent.status)}} <span>-</span> {{formatSize(torrent.haveValid)}} of {{formatSize(torrent.totalSize)}} ({{torrent.percentDone*100}}%) <span>-</span> Ratio {{torrent.uploadRatio}}</p>

            {{#if torrent.status == 0}}
                <button on:click="resume()">Resume</button>
            {{else}}
                <button on:click="pause()">Pause</button>
            {{/if}}
            <button on:click="delete()">Delete</button>
            <button on:click="zip()">Make an archive</button>
            <button on:click="updateInfos()">Refresh information</button>
        </article>

        <article class="box">
            {{#if !showInformation}}
                <button on:click="set({ showInformation: true })">Show information</button>
            {{else}}
                <button on:click="set({ showInformation: false })">Hide information</button>

                <h3>Activity</h3>
                Have valid: {{formatSize(torrent.haveValid)}} ({{torrent.percentDone*100}}%)<br>
                Have unchecked: {{formatSize(torrent.haveUnchecked)}}<br>
                Total size: {{formatSize(torrent.totalSize)}}<br>
                Upload ratio: {{torrent.uploadRatio}}<br>
                Eta: {{formatDuration(torrent.eta)}}<br>
                Rate download: {{formatSize(torrent.rateDownload)}}/s<br>
                Rate upload: {{formatSize(torrent.rateUpload)}}/s<br>
                Added date: {{formatDate(torrent.addedDate)}}<br>
                Done date: {{formatDate(torrent.doneDate)}}<br>
                Activity date: {{formatDate(torrent.activityDate)}}<br>
                Error: {{torrent.error}} ({{torrent.errorString}})<br><br>

                <h3>Details</h3>
                ID: {{torrent.id}}<br>
                Hash: {{torrent.hashString}}<br>
                Size when done: {{formatSize(torrent.sizeWhenDone)}}<br>
                Download directory: {{torrent.downloadDir}}<br>
                Comment: {{torrent.comment}}<br><br>

                <h3>Trackers/peers</h3>
                Peers connected: {{torrent.peersConnected}}<br>
                Peers getting from us: {{torrent.peersGettingFromUs}}<br>
                Peers sending to us: {{torrent.peersSendingToUs}}<br><br>

                {{#if torrent.trackerStats}}
                {{#each torrent.trackerStats as stat}}
                <h4>{{stat.host}}</h4>
                Downloads: {{stat.downloadCount}}<br>
                Leechers: {{stat.leecherCount}}<br>
                Seeders: {{stat.seederCount}}<br>
                Announce state: {{stat.announceState}}<br>
                Has announced: {{stat.hasAnnounced}}<br>
                Last announce peer count: {{stat.lastAnnouncePeerCount}}<br>
                Last announce result: {{stat.lastAnnounceResult}}<br>
                Last announce succeeded: {{stat.lastAnnounceSucceeded}}<br>
                Last announce time: {{formatDate(stat.lastAnnounceTime)}}<br>
                Last announce timed out: {{stat.lastAnnounceTimedOut}}<br>
                Last scrape result: {{stat.lastScrapeResult}}<br>
                Last scrape succeeded: {{stat.lastScrapeSucceeded}}<br>
                Last scrape time: {{formatDate(stat.lastScrapeTime)}}<br>
                last scrape timed out: {{stat.lastScrapeTimedOut}}<br>
                Next announce time: {{formatDate(stat.nextAnnounceTime)}}<br>
                Next scrape time: {{formatDate(stat.nextScrapeTime)}}<br><br>
                {{/each}}
                {{/if}}
            {{/if}}
        </article>

        {{#if torrent.files}}
            <article class="box">
                <TorrentTreeComponent tree="{{torrent.files}}"/>
            </article>
        {{/if}}

    {{else}}

        <LoadingComponent />

    {{/if}}
</section>

<script>
    export default {
        onrender () {
            this.updateInfos()
        },
        data () {
            return {
                showInformation: false,
                error: null,
                torrent: {}
            }
        },
        helpers: {
            formatStatus: window.GenericHelpers.formatTorrentStatus,
            formatSize: window.GenericHelpers.formatSize,
            formatDate: window.GenericHelpers.formatDate,
            formatDuration: window.GenericHelpers.formatDuration
        },
        components: {
            HeaderComponent,
            LoadingComponent,
            TorrentTreeComponent
        },
        methods: {
            openTorrent: function (torrentId) {
                window.app.router.go('torrent', { torrentId: torrentId })
            },
            updateInfos: function () {
                var torrentId = this.get('torrentId')
                window.app.api.get('/torrents/' + torrentId).then(function (response) {
                    if (response.data.length) {
                        response.data[0].percentDone = Math.round(response.data[0].percentDone * 100) / 100

                        if (response.data[0].files) {
                            var tree = {
                                type: 'root',
                                childs: {}
                            }
                            for (var i = 0; i < response.data[0].files.length; i++) {
                                var parts = response.data[0].files[i].name.split('/')
                                var instance = tree.childs
                                for (var j = 0; j < parts.length - 1; j++) {
                                    if (!instance[parts[j]]) {
                                        instance[parts[j]] = {
                                            type: 'dir',
                                            isOpened: j === 0,
                                            childs: {}
                                        }
                                    }
                                    instance = instance[parts[j]].childs
                                }
                                if (parts.length) {
                                    instance[parts[parts.length - 1]] = {
                                        type: 'file',
                                        completed: response.data[0].files[i].bytesCompleted,
                                        total: response.data[0].files[i].length
                                    }
                                }
                            }

                            var treeToArrays = function (item, name) {
                                if (item.type === 'file' && name) {
                                    item.name = name
                                    return item
                                }

                                var items = []
                                var keys = Object.keys(item.childs)
                                for (var i = 0; i < keys.length; i++) {
                                    items.push(treeToArrays(item.childs[keys[i]], keys[i]))
                                }

                                if (item.type === 'dir') {
                                    item.name = name
                                    item.childs = items
                                    return item
                                }

                                return items
                            }

                            response.data[0].files = treeToArrays(tree)
                        }

                        this.set({ torrent: response.data[0] })
                    } else {
                        console.warn('torrent not found', torrentId, response.data)
                        window.app.router.go('torrents')
                    }
                }.bind(this)).catch(function (error) {
                    console.error(error)
                    this.set({ error: error })
                })
            },
            resume: function () {
                window.app.api.put('/torrents/' + this.get('torrentId') + '/resume').then(function (res) {
                    console.log('resume res', res)
                    this.updateInfos()
                }.bind(this)).catch(function (error) {
                    console.error(error)
                    this.set({ error: error })
                }.bind(this))
            },
            pause: function () {
                window.app.api.put('/torrents/' + this.get('torrentId') + '/pause').then(function (res) {
                    console.log('pause res', res)
                    this.updateInfos()
                }.bind(this)).catch(function (error) {
                    console.error(error)
                    this.set({ error: error })
                }.bind(this))
            },
            delete: function () {
                window.app.api.delete('/torrents/' + this.get('torrentId')).then(function (res) {
                    console.log('delete res', res)
                    this.updateInfos()
                }.bind(this)).catch(function (error) {
                    console.error(error)
                    this.set({ error: error })
                }.bind(this))
            }
        }
    }
</script>
