/* Colors: https://www.materialui.co/flatuicolors */
html, body {
    margin: 0;
    padding: 0;
    color: #344563;
    background: #eef2f5;
    min-width: 500px;
}

html, body, input, textarea, button {
    font-family: "Nunito", "Segoe UI", Helvetica, Arial, sans-serif, "Segoe UI Symbol";
    font-size: 13px;
}
h1, h2, h3, h4, h5, h6 {
    color: #344563;
    margin: 0;
    padding: 7px;
}
a, a:link, a:visited, a:hover, a:active, a:focus {
    color: #e9545a;
    text-decoration: none;
}
a:hover, a:active, a:focus {
    text-decoration: underline;
}
a.button, a.button:link, a.button:visited, a.button:hover, a.button:active, a.button:focus, button {
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    background: #5db8f1;
    color: #ecf0f1;
    border: 0;
    padding: 7px 20px;
    cursor: pointer;
    margin: 5px 2px;
    font-weight: bold;
    box-shadow: 1px 1px 1px #9199ac;
    text-transform: uppercase;
    font-size: 12px;
}
a.button:hover, a.button:active, a.button:focus, button:hover, button:active, button:focus, button.active {
    box-shadow: 1px 1px 1px #344563;
}
a.button[disabled], button[disabled] {
    cursor: default;
    cursor: not-allowed;
    opacity: 0.7;
}
a.button.mini, button.mini {
    padding: 1px 10px;
    margin: 0;
    font-size: 11px;
}
input, textarea {
    display: inline-block;
    width: calc(100% - 30px);
    padding: 7px 14px;
    border: 1px solid #bdc3c7;
    border-radius: 3px;
    margin: 7px 0;
}
table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
table tr td, table tr th {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
table tr:hover td, table tr:hover th {
    background-color: #f5f5f5;
}
table thead tr th {
    border-bottom: 2px solid #ddd;
}

i.icon {
    font-family: Arial;
    font-style: normal;
}
.warn {
    background: #c0392b;
    border-radius: 3px;
    padding: 1px 5px;
    display: inline-block;
    color: #ecf0f1;
}

header.body {
    background: #344563;
    color: #ecf0f1;
}
header.body article.general-stats {
    float: right;
    line-height: 25px;
    padding: 10px;
    margin-right: 30px;
    color: #c8cfd7;
    cursor: pointer;
}
header.body article.general-stats > span {
    margin-right: 10px;
    font-weight: bold;
}
header.body button {
    line-height: 68px;
    padding: 0;
    margin: 0 20px;
    background: none;
    box-shadow: none;
    vertical-align: top;
    text-transform: initial;
    font-size: 16px;
    font-weight: normal;
}
header.body button:hover:after, header.body button:active:after, header.body button:focus:after, header.body button.active:after {
    content: "";
    border-bottom: 2px solid #5db8f1;
    display: block;
    caption-side: bottom;
    position: relative;
    margin-top: -25px;
}
header.body h1 {
    color: #ecf0f1;
    background: #5db8f1;
    display: inline-block;
    line-height: 70px;
    padding: 0 30px;
    vertical-align: top;
    margin-right: 20px;
}
header.body h2 {
    display: inline-block;
    line-height: 70px;
    vertical-align: top;
    padding: 0;
    margin: 0 20px;
    color: #ecf0f1;
}
@media screen and (max-width:650px) {
    header.body {
        text-align: center;
    }
    header.body h1 {
        display: none;
    }
}
@media screen and (max-width:900px) {
    header.body article.general-stats {
        display: none;
    }
}

section.auth {
    margin: 20px auto 10px;
    padding: 20px;
    width: calc(100% - 44px);
    max-width: 300px;
    background: white;
    border: 1px solid #e2e5ea;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #e2e5ea;
}
section.auth .warn {
    display: block;
    text-align: center;
    margin: 5px 0 10px;
    padding: 5px;
}
section.auth button {
    margin: 10px auto;
    width: calc(100% - 80px);
    max-width: 150px;
    padding: 10px 40px;
    display: block;
    font-size: 14px;
}

article.torrent-preview {
    border-bottom: 1px solid #bdc3c7;
    cursor: pointer;
    padding: 5px;
    font-size: 11px;
    opacity: 0.9;
}
article.torrent-preview:hover {
    opacity: 1;
}
article.torrent-preview .progress {
    width: 100%;
    height: 15px;
    border-radius: 5px;
    margin: 5px 0;
    background-color: #bdc3c7;
}
article.torrent-preview .progress span {
    background-color: #16a085;
    color: #ecf0f1;
    font-size: 10px;
    height: 15px;
    width: 0%;
    display: block;
    text-align: center;
    border-radius: 5px;
}
/*article.torrent-status-3, article.torrent-status-4 {
    background: rgba(241, 196, 15, 0.2);
}
article.torrent-status-5, article.torrent-status-6 {
    background: rgba(39, 174, 96, 0.2);
}
article.torrent-status-1, article.torrent-status-2, article.torrent-status-7 {
    background: rgba(192, 57, 43, 0.2);
}
article.torrent-status-0 {
    background: rgba(41, 128, 185, 0.2);
}*/
article.torrent-status-3 .progress, article.torrent-status-4 .progress {
    background: rgba(241, 196, 15, 0.2);
}
article.torrent-status-5 .progress, article.torrent-status-6 .progress {
    background: rgba(39, 174, 96, 0.2);
}
article.torrent-status-1 .progress, article.torrent-status-2 .progress, article.torrent-status-7 .progress {
    background: rgba(192, 57, 43, 0.2);
}
article.torrent-status-0 .progress {
    background: rgba(41, 128, 185, 0.2);
}
article.torrent-status-3 .progress span, article.torrent-status-4 .progress span {
    background: rgba(241, 196, 15, 0.9);
}
article.torrent-status-5 .progress span, article.torrent-status-6 .progress span {
    background: rgba(39, 174, 96, 0.9);
}
article.torrent-status-1 .progress span, article.torrent-status-2 .progress span, article.torrent-status-7 .progress span {
    background: rgba(192, 57, 43, 0.9);
}
article.torrent-status-0 .progress span {
    background: rgba(41, 128, 185, 0.9);
}
article.torrent-status-3:hover .progress span, article.torrent-status-4:hover .progress span {
    background: rgba(241, 196, 15, 1);
}
article.torrent-status-5:hover .progress span, article.torrent-status-6:hover .progress span {
    background: rgba(39, 174, 96, 1);
}
article.torrent-status-1:hover .progress span, article.torrent-status-2:hover .progress span, article.torrent-status-7:hover .progress span {
    background: rgba(192, 57, 43, 1);
}
article.torrent-status-0:hover .progress span {
    background: rgba(41, 128, 185, 1);
}

article.box {
    background: white;
    margin: 15px 10px;
    padding: 10px;
    border: 1px solid #e2e5ea;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #e2e5ea;
}
article.box p > span {
    margin: 0 5px;
    display: inline-block;
}
article.box.loading {
    text-align: center;
}
article.box.loading p {
    margin: 5px 0 0;
    color: #c8cfd7;
    font-size: 12px;
}

.files > .dir {
    background: #fafbfd;
    border-top: 1px solid #dbdee3;
    border-bottom: 1px solid #dbdee3;
    padding: 5px;
    padding-left: 10px;
}

.files .icon {
    margin-right: 10px;
}

.files img {
    width: 15px;
    height: 15px;
}

.files > .action {
    cursor: pointer;
}
.files > .files {
    margin-left: 22px;
}
.files > .file {
    border-bottom: 1px solid #dbdee3;
    padding: 4px;
    padding-left: 10px;
    display: block;
}
.files span {
    color: #a4aab1;
    display: inline-block;
    margin-left: 15px;
    font-size: 80%;
}

.files .hot {
    color: #f44336;
    font-weight: bold;
}

.loader {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 3px solid #344563;
  width: 10px;
  height: 10px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  float: right;
  margin-left: 10px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
