/* Colors: https://www.materialui.co/flatuicolors */
html, body {
    margin: 0;
    padding: 0;
    color: #2c3e50;
    background: #ecf0f1;
    background: linear-gradient(270deg, #c2e0f3, #bef2d4);
    background-size: 400% 400%;
    -webkit-animation: AnimationGeneralBackground 4s ease infinite;
    -moz-animation: AnimationGeneralBackground 4s ease infinite;
    -o-animation: AnimationGeneralBackground 4s ease infinite;
    animation: AnimationGeneralBackground 4s ease infinite;
}

@-webkit-keyframes AnimationGeneralBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationGeneralBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationGeneralBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationGeneralBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

html, body, input, textarea {
    font-family: "Nunito", "Segoe UI", Helvetica, Arial, sans-serif, "Segoe UI Symbol";
    font-size: 13px;
}
h1, h2, h3, h4, h5, h6 {
    color: #2980b9;
    margin: 0;
    padding: 7px;
}
a, a:link, a:visited, a:hover, a:active, a:focus {
    color: #27ae60;
    text-decoration: none;
}
a:hover, a:active, a:focus {
    text-decoration: underline;
}
a.button, a.button:link, a.button:visited, a.button:hover, a.button:active, a.button:focus, button {
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    background: #27ae60;
    color: #ecf0f1;
    border: 0;
    padding: 4px 10px;
    cursor: pointer;
    margin: 5px 2px;
    font-weight: bold;
}
a.button:hover, a.button:active, a.button:focus, button:hover, button:active, button:focus, button.active {
    background: #2ecc71;
}
input, textarea {
    display: inline-block;
    width: calc(100% - 30px);
    padding: 7px 14px;
    border: 1px solid #bdc3c7;
    border-radius: 3px;
    margin: 7px 0;
}

i.icon {
    font-family: Arial;
    font-style: normal;
}
.warn {
    background: #c0392b;
    border-radius: 3px;
    padding: 1px 5px;
    display: inline-block;
    color: #ecf0f1;
}

header.body {
    background: #2980b9;
    color: #ecf0f1;
    border-bottom: 1px solid #95a5a6;
}
header.body section article.general-stats {
    float: right;
    padding: 5px;
    margin-right: 20px;
}
header.body nav {
    clear: both;
    margin: 15px 5px 5px;
}
header.body nav a {
    border-radius: 5px;
    padding: 3px 6px;
    display: inline-block;
}
header.body nav a:hover, header.body nav a:active, header.body nav a:focus, header.body nav a.active {
    background-color: #27ae60;
    color: #ecf0f1;
}
header.body h1, header.body nav a {
    color: #ecf0f1;
}

section.auth {
    margin: 20px auto 10px;
    padding: 20px;
    width: calc(100% - 40px);
    max-width: 300px;
}
section.auth .warn {
    display: block;
    text-align: center;
    margin: 5px 0 10px;
    padding: 5px;
}
section.auth button {
    margin: 10px auto;
    width: calc(100% - 80px);
    max-width: 150px;
    padding: 10px 40px;
    display: block;
    font-size: 14px;
}

article.torrent-preview {
    border-bottom: 1px solid #bdc3c7;
    cursor: pointer;
    padding: 5px;
    font-size: 11px;
    opacity: 0.9;
}
article.torrent-preview:hover {
    opacity: 1;
}
article.torrent-preview .progress {
    width: 100%;
    height: 15px;
    border-radius: 5px;
    margin: 5px 0;
    background-color: #bdc3c7;
}
article.torrent-preview .progress span {
    background-color: #16a085;
    color: #ecf0f1;
    font-size: 10px;
    height: 15px;
    width: 0%;
    display: block;
    text-align: center;
    border-radius: 5px;
}
/*article.torrent-status-3, article.torrent-status-4 {
    background: rgba(241, 196, 15, 0.2);
}
article.torrent-status-5, article.torrent-status-6 {
    background: rgba(39, 174, 96, 0.2);
}
article.torrent-status-1, article.torrent-status-2, article.torrent-status-7 {
    background: rgba(192, 57, 43, 0.2);
}
article.torrent-status-0 {
    background: rgba(41, 128, 185, 0.2);
}*/
article.torrent-status-3 .progress, article.torrent-status-4 .progress {
    background: rgba(241, 196, 15, 0.2);
}
article.torrent-status-5 .progress, article.torrent-status-6 .progress {
    background: rgba(39, 174, 96, 0.2);
}
article.torrent-status-1 .progress, article.torrent-status-2 .progress, article.torrent-status-7 .progress {
    background: rgba(192, 57, 43, 0.2);
}
article.torrent-status-0 .progress {
    background: rgba(41, 128, 185, 0.2);
}
article.torrent-status-3 .progress span, article.torrent-status-4 .progress span {
    background: rgba(241, 196, 15, 0.7);
}
article.torrent-status-5 .progress span, article.torrent-status-6 .progress span {
    background: rgba(39, 174, 96, 0.7);
}
article.torrent-status-1 .progress span, article.torrent-status-2 .progress span, article.torrent-status-7 .progress span {
    background: rgba(192, 57, 43, 0.7);
}
article.torrent-status-0 .progress span {
    background: rgba(41, 128, 185, 0.7);
}
article.torrent-status-3:hover .progress span, article.torrent-status-4:hover .progress span {
    background: rgba(241, 196, 15, 0.9);
}
article.torrent-status-5:hover .progress span, article.torrent-status-6:hover .progress span {
    background: rgba(39, 174, 96, 0.9);
}
article.torrent-status-1:hover .progress span, article.torrent-status-2:hover .progress span, article.torrent-status-7:hover .progress span {
    background: rgba(192, 57, 43, 0.9);
}
article.torrent-status-0:hover .progress span {
    background: rgba(41, 128, 185, 0.9);
}

section.tabs > nav {
    float: left;
    width: 200px;
}
section.tabs > nav > div {
    border: 1px solid #bdc3c7;
    padding: 20px 15px;
    cursor: pointer;
    font-weight: bold;
    margin: 10px 0 10px 5px;
    position: relative;
}
section.tabs > nav > div.selected, section.tabs > nav > div.default-selected {
    background: #8e44ad;
    color: #ecf0f1;
}
section.tabs > nav > div.selected:after, section.tabs > nav > div.default-selected:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #8e44ad;
}
section.tabs > article.tab-content {
    margin-left: 250px;
}
